body {
	margin: 0;
	padding: 0;
	background-image: none;
}

#otsa {
    display: none;
}

h1, h2, h3, h4 {
    background-color: #ffdcb8;
}

#runko {
	margin: 0 auto 0 0;
	max-width: 50em;
	background-color: transparent;
	padding: 0.4em;
	border: 0 solid black;
}

p {
    background-color: white;
    margin: 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.fluff {
    display: none;
}

#telephone {
    -wap-input-format: "*N";
}

pre {
	background-color: #D1E2EF;
	margin-left: 0;
}

li {
	background-color: white;
}
